# **Segunda Actividad Integradora**

## <font color="yellow">Objetivo</font> 
Aplicar los conceptos aprendidos en el curso de Minería de Datos para realizar un análisis integral de un dataset real utilizando diversas técnicas de preprocesamiento y análisis exploratorio de datos. Esta actividad busca evaluar la capacidad del estudiante para aplicar conocimientos de manejo de datos, discretización, análisis y visualización para extraer información relevante, y comunicar sus hallazgos de manera clara y concisa.

## <font color="yellow">Instrucciones</font>
**1. Dataset Asignado:**

Utiliza el dataset "Adult" proporcionado por el docente. Este dataset contiene información recolectada durante un censo realizado en 1994 en Estados Unidos con el fin de determinar las características de las personas en relación a si ganan más de U$D 50,000 al año o no. El archivo adult_data.xls posee datos de 32,561 personas, y algunos de sus atributos son: 
- Edad, sexo, estado civil, nivel educativo
- Tipo de trabajo, número de horas semanales que trabaja
- Raza, país de origen o Capital.

**2. Análisis y Respuesta de Preguntas:**
   1. Verificación de Datos:
      - a. Verifica si la base de datos posee atributos con datos faltantes.
      - b. Verifica si existen atributos que necesiten normalización de sus valores. 
      - c. Identifica si hay atributos con valores inválidos.
   2. Relación de Campos: El nivel educativo de la persona está indicado en dos campos: Education y Education_num. Analiza cómo se relacionan estos dos atributos y documenta tus hallazgos.
   3. Reemplazo de Valores Faltantes:
      - a. Completa los valores faltantes de los atributos Education_num y Capital_Loss con el valor mínimo.
      - b. Completa el resto de los atributos que presenten valores faltantes con su correspondiente valor promedio.
   4. Generación de Atributos Nuevos: Genera atributos nuevos para solucionar los problemas encontrados en los incisos 1b y 1c.
      
**3. Discretización del Atributo Hours_per_week:** 

Realiza tres discretizaciones diferentes del atributo Hours_per_week y compara los resultados obtenidos:
   - a. En cuatro intervalos por partes iguales.
   - b. En los siguientes cuatro intervalos: [1..10], [11..50], [51..70], [71..MAX].
     
**4. Análisis de Atributos Seleccionados:**
- Selecciona los atributos: Edad, Education_num, Hours_per_week y Class. Realiza todos los posibles diagramas de dispersión utilizando la opción Scatter tomando al atributo Class como atributo para colorear. 
- Analiza los distintos diagramas y relaciona los atributos.
   - a. ¿Qué puedes decir de las edades con respecto a la ganancia anual?
   - b. ¿Puedes afirmar que las personas que poseen un nivel educativo por debajo de 8 y que trabajan menos de 40 horas no ganan más de 50 mil dólares por año?
   - c. ¿Existe alguna relación entre el nivel educativo y el hecho de ganar más de 50 mil dólares por año?
   - d. ¿Hay alguna relación con la cantidad de horas semanales trabajadas?

**Video Explicativo**: Realiza un video de máximo 1 minuto donde presentes las conclusiones del trabajo. El video debe ser preciso y conciso, destacando los puntos más relevantes del análisis.

## 1. Dataset Asignado
Cargamos e importamos el dataset de <code>"adult_data.csv"</code>:

In [45]:
import pandas as df

df = df.read_csv("adult_data.csv",  sep=";")
print("Primeros valores del set de datos adul_data:")
print(df.head(3))
print("\nInformacion sobre las variables:")
print(df.info())

Primeros valores del set de datos adul_data:
   Age         Work_Class  fnlwgt   Education  Eduction_num  \
0   39          State-gov   77516   Bachelors          13.0
1   50   Self-emp-not-inc   83311   Bachelors          13.0
2   38            Private  215646     HS-grad           9.0

        Marital_status          Occupation    Relationship    Rice   Sex  \
0        Never-married        Adm-clerical   Not-in-family   White  Male
1   Married-civ-spouse     Exec-managerial         Husband   White  Male
2             Divorced   Handlers-cleaners   Not-in-family   White  Male

   Capital_gain  Capital_loss  Hours_per_week  Native_country   Class
0        2174.0           0.0            40.0   United-States   <=50K
1           0.0           0.0            13.0   United-States   <=50K
2           0.0           0.0            40.0   United-States   <=50K

Informacion sobre las variables:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             32561 non-null  int64
 1   Work_Class      30725 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   Education       32561 non-null  object
 4   Eduction_num    32531 non-null  float64
 5   Marital_status  32561 non-null  object
 6   Occupation      30718 non-null  object
 7   Relationship    32561 non-null  object
 8   Rice            32561 non-null  object
 9   Sex             32561 non-null  object
 10  Capital_gain    32551 non-null  float64
 11  Capital_loss    32549 non-null  float64
 12  Hours_per_week  32545 non-null  float64
 13  Native_country  31978 non-null  object
 14  Class           32561 non-null  object
dtypes: float64(4), int64(2), object(9)
memory usage: 3.7+ MB
None

In [37]:
# estadisticas descriptivas
estadistica = df.describe()
print("Resumen Estadístico:\n", estadistica)

Resumen Estadístico:
                 Age        fnlwgt  Eduction_num  Capital_gain  Capital_loss  \
count  32561.000000  3.256100e+04  32561.000000  32561.000000  32561.000000
mean      38.589325  1.897784e+05     10.080956   1077.648844     87.303830
std       13.693699  1.055500e+05      2.572177   7385.292085    402.960219
min       17.000000  1.228500e+04      1.000000      0.000000      0.000000
25%       28.000000  1.178270e+05      9.000000      0.000000      0.000000
50%       37.000000  1.783560e+05     10.000000      0.000000      0.000000
75%       48.000000  2.370510e+05     12.000000      0.000000      0.000000
max      190.000000  1.484705e+06     16.000000  99999.000000   4356.000000

       Hours_per_week
count    32561.000000
mean        40.435122
std         12.347029
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000

## 2. Análisis y Respuesta de Preguntas:
- Se verifica si la base de datos posee atributos con datos faltantes:
- Verifica si existen atributos que necesiten normalización de sus valores. 
- Identifica si hay atributos con valores inválidos.

In [38]:
# Verificar datos faltantes
faltantes = df.isnull().sum()
print("Datos faltantes por columna:")
print(faltantes[faltantes > 0])  # Muestra solo las columnas con datos faltantes

Datos faltantes por columna:
Work_Class        1836
Occupation        1843
Native_country     583
dtype: int64

In [20]:
# Comprobar si hay valores a normalizar
duplicados = df.duplicated().sum()
print("Número de filas duplicadas:", duplicados)

Número de filas duplicadas: 23